# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Output and Errors
*.log
*.err
*.out
*.log.*
*.err.*
*.out.*


# Temporary files
*.tmp
*.temp
*.bak
*.swp
*~

# Jupyter Notebook
.ipynb_checkpoints
